:root{
    --r: 119;
    --g: 244;
    --b: 214;
    --bg-color: rgb(var(--r), var(--g), var(--b));
}

.stock-grid{
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    width: 100%;
    background: white;
    margin-bottom: 20px;
    font-size: 13px;
    gap: 0.1em;
}

.stock-grid > * {
    border: 1px solid black;
    height: 20px;
}

.crypto-grid{
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    align-content: center;
    width: 100%;
    --bg-color: linear-gradient(180deg, purple 40%, blue 80%);
    background: var(--bg-color);
    gap: 1em;   
}

.header {
    font-size: 12px;
    height: 20px;
    font-weight: 600; 
    color: white; 
    background-color: black;
}
    