html{
    background-color: teal;
}
  
.rank{
    font-weight: bold;
    color: yellow;
    font-size: 15px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    gap: 10px;
}

.scrollText{
    color: white;
}

.cryptoErrorTitle{
    color: #FF7F7F;
}


